{{- if .personal -}}
[Unit]
Description=Proton Pass SSH Agent

[Service]
ExecStart=%h/.local/bin/pass-cli ssh-agent start --socket-path %h/.ssh/proton-pass-agent.sock --vault-name {{ .proton.pass.personalVault }}
Restart=on-failure

[Install]
WantedBy=default.target
{{- end -}}
