{{- $cpuCores := 1 }}
{{- $cpuThreads := 1 }}
{{- $memoryInGb := 1 }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $cpuCores = (output "sysctl" "-n" "hw.physicalcpu_max") | trim | atoi }}
{{-   $cpuThreads = (output "sysctl" "-n" "hw.logicalcpu_max") | trim | atoi }}
{{-   $memoryInGb = (output "sysctl" "-n" "hw.memsize" "/" "$((1024**3))") | trim | atoi }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $cpuCores = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | sort --field-separator=',' --key='2,4' --unique | wc --lines") | trim | atoi }}
{{-   $cpuThreads = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | wc --lines") | trim | atoi }}
{{-   $memoryInGb = (output "sh" "-c" "grep MemTotal /proc/meminfo | awk '{print $2}' | xargs -I {} echo 'scale=4; {}/1024^2' | bc") | trim | atoi }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $cpuCores = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfCores") | trim | atoi }}
{{-   $cpuThreads = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfLogicalProcessors") | trim | atoi }}
{{-   $memoryInGb = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_PhysicalMemory' | Measure-Object -Property capacity -Sum).Sum /1gb") | trim | atoi }}
{{- end }}

[data.cpu]
  cores = {{ $cpuCores }}
  threads = {{ $cpuThreads }}
[data.memory]
  size = {{ $memoryInGb }}
[data.user]
  linux = "tobi"
  windows = "tobia"

[age]
  identity = "{{ .chezmoi.homeDir }}/.config/age/key-chezmoi.txt"
  recipient = "age1te7a3ut540rec7d33jj7l6e3npj8kp6az3kwu68h0zrfuhj2yujsgqh0eu"
