.config/zsh/rc.d/40-runtimes/node.zsh
.config/zsh/rc.d/40-runtimes/python.zsh
.local/bin/executable_cosmic-screenshot-and-annotate
.config/pipewire/pipewire.conf.d/99-input-denoising.conf
.config/zsh/rc.d/30-tools/kitty.zsh
.local/share/nautilus-python/extensions/open-in-kitty.py
.config/kitty
