if [[ "$XDG_SESSION_TYPE" = 'wayland' ]]; then
  export SDL_VIDEODRIVER=wayland
  export QT_QPA_PLATFORM=wayland
  export _JAVA_AWT_WM_NONREPARENTING=1
  export BEMENU_BACKEND=wayland
  export MOZ_ENABLE_WAYLAND=1
fi
