{{- $work := false }}
{{- $personal := false }}
{{- $hostname := .chezmoi.hostname -}}

{{- $machineProfiles := dict
    "tobi-ubuntu" (list "common" "personal")
    "tobi-ThinkPad-E15-Gen-3" (list "common" "personal")
    "tobi-chezmoi-test-VirtualBox" (list "common" "personal" "work")
    "tobi-devbox" (list "common" "personal")
}}
{{- $profiles := list "common" }}
{{- if hasKey $machineProfiles $hostname }}
  {{- $profiles = index $machineProfiles $hostname }}
{{- end }}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $cpuCores := 1 }}
{{- $cpuThreads := 1 }}
{{- $memoryInGb := 1 }}
{{- if eq .chezmoi.os "linux" }}
{{-   $cpuCores = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | sort --field-separator=',' --key='2,4' --unique | wc --lines") | trim | atoi }}
{{-   $cpuThreads = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | wc --lines") | trim | atoi }}
{{-   $memoryInGb = (output "sh" "-c" "grep MemTotal /proc/meminfo | awk '{print $2}' | xargs -I {} echo 'scale=4; {}/1024^2' | bc") | trim | atoi }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $cpuCores = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfCores") | trim | atoi }}
{{-   $cpuThreads = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfLogicalProcessors") | trim | atoi }}
{{-   $memoryInGb = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_PhysicalMemory' | Measure-Object -Property capacity -Sum).Sum /1gb") | trim | atoi }}
{{- end }}

encryption = "age"
[age]
  identity = "{{ .chezmoi.homeDir }}/.config/age/key-chezmoi.txt"
  recipient = "age1te7a3ut540rec7d33jj7l6e3npj8kp6az3kwu68h0zrfuhj2yujsgqh0eu"

[data]
  osid = {{ $osID | quote }}

[data.profiles]
  {{- range $profiles }}
  {{ . }} = true
  {{- end }}

[data.cpu]
  cores = {{ $cpuCores }}
  threads = {{ $cpuThreads }}
[data.memory]
  size = {{ $memoryInGb }}

[hooks.read-source-state.pre]
  command = ".local/share/chezmoi/home/.setup.sh"
