#!/usr/bin/fish

echo -e "\033[0;32m>>>>> Begin Setting Up Fish shell <<<<<\033[0m"

## Install fisher
if not type -q fisher
  echo "installing fisher"
  curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
end

## Install starship
if not type -q starship
  echo "installing starship"
  curl -fsSL https://starship.rs/install.sh | source
end

echo -e "\033[0;32m>>>>> Finish Setting Up Fish shell <<<<<\033[0m"
