{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -euo pipefail

sources_ppas=(
{{ range .linux.apt.sources.ppas -}}
  {{ . | quote }}
{{ end -}}
)

for ppa in "${sources_ppas[@]}"; do
  sudo add-apt-repository -y "ppa:${ppa}"
done

sudo apt-get update

packages=(
{{ range .linux.apt.packages -}}
	{{ . | quote }}
{{ end -}}
)

if (( ${#packages[@]} > 0 )); then
	sudo apt-get install -y --no-install-recommends "${packages[@]}"
fi

{{ end -}}
