{{ if eq .osid "linux-ubuntu" -}}
#!/bin/bash

set -eufo pipefail

# shellcheck source=../../lib/lib.sh
source "${CHEZMOI_SOURCE_DIR}/lib/lib.sh"

log::info "Configuring GNOME"

fc-cache

gsettings set org.gnome.desktop.peripherals.touchpad natural-scroll true

gsettings set org.gnome.shell favorite-apps "[ \
{{ if lookPath "firefox" -}}
	'firefox_firefox.desktop', \
{{ end -}}
{{ if lookPath "code" -}}
	'code.desktop', \
{{ end -}}
{{ if lookPath "ghostty" -}}
	'com.mitchellh.ghostty.desktop', \
{{ end -}}
	'org.gnome.Nautilus.desktop' \
]"
{{ end -}}
