{{- if not (eq .chezmoi.osRelease.id "nixos") }}
#!/usr/bin/env bash
set -eufo pipefail

# shellcheck disable=SC1091
source "${CHEZMOI_SOURCE_DIR}/../lib/lib.sh"

log::info "Begin Setting Up Zsh"

export SHELL="/usr/bin/env zsh"
chsh -s "/usr/bin/env zsh"

log::info "Finish Setting Up Zsh"
{{- end }}