#!/usr/bin/env zsh

if test -f $HOME/.opencode/bin; then
  export PATH="$HOME/.opencode/bin:$PATH"
fi

if [[ $(which opencode &>/dev/null && echo $?) == 0 ]]; then
  {{- if dig "work" false .profiles }}
  export PIA_API_KEY="{{ onepasswordRead "op://Employee/PIA Personal API Key/password" }}"
  {{- end }}
fi