#!/usr/bin/env bash

export -U PATH path FPATH fpath

path=(
  "$HOME/.bin"
  "$HOME/.local/bin"
  "$HOME/.scripts"
  "$HOME/.local/share/JetBrains/Toolbox/scripts"
  "$HOME/bin"
  "/usr/local/bin"
  $path
)

{{ if eq .chezmoi.os "darwin" }}
path+=("$HOME/Library/Application Support/JetBrains/Toolbox/scripts")
{{ end }}

if [[ $(which docker &>/dev/null && echo $?) == 0 ]]; then
  export DOCKER_BUILDKIT=1
  export COMPOSE_DOCKER_CLI_BUILD=1
fi

if [[ $(which code &>/dev/null && echo $?) == 0 ]]; then
  export EDITOR="code --wait"
fi

if [[ $(which bat &>/dev/null && echo $?) == 0 ]]; then
  export PAGER="bat"
  export MANPAGER="sh -c 'sed -e s/.\\\\x08//g | bat -l man -p'"
fi
