#!/usr/bin/env zsh

export -U PATH path FPATH fpath

path=(
  "$HOME/.bin"
  "$HOME/.local/bin"
  "$HOME/.scripts"
  "$HOME/.local/share/JetBrains/Toolbox/scripts"
  "$HOME/bin"
  "/usr/local/bin"
  $path
)

{{ if eq .chezmoi.os "darwin" }}
path+=("$HOME/Library/Application Support/JetBrains/Toolbox/scripts")
{{ end }}


if is_in_path "docker"; then
  export DOCKER_BUILDKIT=1
  export COMPOSE_DOCKER_CLI_BUILD=1
fi

if is_in_path "code"; then
  export EDITOR="code --wait"
fi

if is_in_path "bat"; then
  export PAGER="bat"
  export MANPAGER="sh -c 'sed -e s/.\\\\x08//g | bat -l man -p'"
fi
